form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.sectionInput {
  align-items: flex-start;
  display: flex;
  color: white;
  flex-flow: column;
  margin-top: 10px;
  padding: 0px 10px;
}

@media only screen and (min-width: 1025px) {
  form {
    flex-direction: row;
    justify-content: center;
  }
}
